@use '../utils/variables' as v;

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.nav-links {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: inherit;

    .nav-text {
        position: relative;
        display: inline-block;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px; 
            width: 0;
            height: 2px; 
            background-color: var(--color_primary); 
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%; 
        }
    }
}

.menu-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}
@media (max-width: v.$lg_breakpoint) {
    .menu-button {
        display: block;
    }

    .nav-links {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 250px;
        background: white;
        border: var(--border_color01);
        padding: 2rem;
        z-index: 1;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        pointer-events: none;
        
        li {
            width: 100%;
        }
    }

    .nav-links.open {
        transform: translateX(0);
        pointer-events: all;
    }

	.nav-links:not(.open) {
        transition: transform 0.8s ease, opacity 0.8s ease, visibility 0s 0.8s;
	}
}