@use './variables' as v;

.col {
	position: relative;
	flex: 1 0 100%;

	@media screen and (min-width : v.$lg-breakpoint ) {
		flex: 1 1 0%;
	}
}

.btn_base {
	flex: 1 0 100%;
	color: white;
	background-color: var(--color_primary);
}

.btn_form {
	background-color: white;
	transition: all 0.25s ease-in-out;

}

.btn_form:focus {
	background-color: var(--bg_color02);
	border: var(--border_color02);
}

.input_default {
	border: var(--border_color01);
	border-radius: 0.5rem;
	height: 3.5rem;
	font-size: 1.4rem;
	width: 100%;
	outline: none;
	padding: 1rem;
	transition: all 0.25s ease-in-out;
	font-family: var(--font_family_inter);
}



.input_default:focus {
	background-color: var(--bg_color02);
	border: var(--border_color02);
}


.btn {
	border: var(--border_color01);
	border-radius: 0.5rem;
	padding: 1rem;
	cursor: pointer;
	font-family: var(--font_family_inter);
}
.btn_success{
	background-color : var(--color_primary);
	border : var(--border_color02);
	color: white;
}
.btn_close{
	background-color: var(--color_cancel);
	color : black;
	border:var(--border_color02);
}
.dropdown {
	position: absolute;
	width: auto;
	min-width: 30rem;
	height: auto;
	border-radius: 0.5rem;
	background-color: #ffffff;
	border: var(--border_color01);
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.25s;
	transition-behavior: allow-discrete;

	&.active {
		opacity: 1;
		transform: translateY(0);
	}

	@media (max-width: v.$lg_breakpoint) {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: #ffffff;
		z-index: 1000;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 0.25s;
		transition-behavior: allow-discrete;

		&.active {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.dropdown_menu {
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		@media (max-width: v.$lg_breakpoint) {
			width: 100%;
			min-width: unset;
		}
	}
}

.disabled {
	display: none;

}



.images {
	width: 100%;
	height: auto;
}

.option_default {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	padding: 1rem;
	background-color: white;
	border: var(--border_color01);
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	.option_item{
		cursor: pointer;
		transition: all 0.125s ease-in-out;
		&:hover{
			background-color: var(--bg_color03);
		}
	}
}

.text_link{
	text-decoration: underline;
	color : var(--text_link);
	cursor: pointer;
}