@use '../../components/utils/variables' as v;
#details_traject{
	.container_content{
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-basis: 55%;
		@media (max-width : v.$lg_breakpoint){
			flex-basis: 100%;
		}
	}
	
	.container_whole{
		display: flex;
		gap: 4rem;
		@media (max-width : v.$lg_breakpoint){
		flex-direction: column;
		}
	}
	h1{
		font-size: calc(5.5rem + 0.25vw);
	}
	.wrapper_line {
		flex: 2;
		padding: 0 15px;
	}
	
	.line {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 30px;
	}
	
	.circle {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #3498db;
		position: relative;
		z-index: 2;
	}
	
	.circle.start,.circle.end {
		background-color: var(--color_primary);
	}
	
	
	
	.dash-line {
		flex: 1;
		height: 2px;
		background: var(--text_color02);
	}
	
}