@use '../../components/utils/variables' as v;

#publish_traject {
	form {
		border: var(--border_color01);
		padding: 2rem 2rem;
		border-radius: 0.5rem;
		display: flex;
		gap: 2rem;
		flex-direction: column;
		justify-content: center;
	}

	.container {
		display: flex;
		gap: 4rem;
		@media (max-width: v.$lg_breakpoint) {
			flex-direction: column;
		}
	}

	.container_form {
		flex-basis: 40%;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@media (max-width: v.$lg_breakpoint) {
			flex-basis: 100%;
		}
	}

	.container-content {
		flex-basis: 40%;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@media (max-width: v.$lg_breakpoint) {
			flex-basis: 100%;
		}
	
	}

	.form_group {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}