@use '../../components/utils/variables' as v;

#search_traject {
	form {
		border: var(--border_color01);
		padding: 2rem 2rem;
		border-radius: 0.5rem;
		display: flex;
		justify-content: center;
	}

	.form_group {
		display: flex;
		gap: 2rem;
	}


}